html {
  scroll-behavior: smooth;
}

body {
  background-color: #063752;
  color: white;
  font-family: "Readex Pro", sans-serif;
}

img {
  margin-top: 3%;
  width: 100%;
}

td {
  font-size: small;
}

.table {
  margin-bottom: 40vh;
}

.btn-primary {
  background-color: white !important;
  color: #063752;
  border-color: #063752;
}

.btn-primary:hover {
  background-color: #063752 !important;
  color: white;
  border-color: white;
}

.btn-primary:disabled {
  border-color: #949ea3;
  color: #949ea3;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #063752 !important;
  color: white;
  border-color: white;
  outline: 0 !important;
  box-shadow: none !important;
}

.table {
  color: white;
}

#itemType {
  color: #063752;
}

.header {
  font-size: 60px;
}

.aboutMeHeader {
  font-size: 45px;
}
